.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.orange{
    background-color: orange;
}

.purple{
    background-color: violet;
}

.answer-row {
    display: block;
    text-align: center; /* Optional: Centers the elements horizontally */
  }
  
  .answer-item {
    display: inline-block;
    margin: 0 10px; /* Optional: Adds a bit of space between elements */
  }
  